<!DOCTYPE html>
<html>
    <head>
        <title>Delete Row by ID</title>
        <meta http-equiv="refresh" content="2" />
    </head>

    <body>
        <br>
        <h1>
            Select Unique ID to Delete
        </h1>

        <ul>
            {% for i in lst %}
                <li>
                    <a target = '_blank' href="/deleteuserbyid/{{i}}">
                        <h2>/delete user by id/{{i}}</h2>
                    </a>
                </li>
            {% endfor %}
        </ul>        

    </body>
</html>
