
<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        <br>
        <h1>CRUD</h1>

        <ul>
            <li>
                <a target = '_blank' href="/getalluser">
                    <h2>/get all user</h2>
                </a>
            </li>
                
            <li>
                <a target = '_blank' href="/createuser">
                        <h2>/create user</h2>
                </a>
            </li>

            <li>
                <a target = '_blank' href="/getuserbyid">
                        <h2>/get user by id</h2>
                </a>
            </li>

            <li>
                <a target = '_blank' href="/deleteuserbyid">
                        <h2>/delete user by id</h2>
                </a>
            </li>
        </ul>

    </body>
</html>
